@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(0.8rem,3vw,1.5rem);
    text-align: center;
    line-height: 3rem;
}
button{
width: clamp(64px,20%,1000px);
height: 100px;
font-size:5rem;
}
input{
    font-size: clamp(0.8rem,3vw,2rem);
}
div{
    display: flex;
    justify-content: center;
}

.win{
    text-decoration: line-through;
}